<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-2 px-3">
  <div>
    <a href="/">
      <svg viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>Layer 1</title>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_2" d="m132.404007,226.306c58.113998,-3.550995 101.53801,-54.578995 96.106003,-108.885002c-5.303009,-53.020996 -54.755005,-91.460999 -107.124008,-87.902998c-53.091003,3.606001 -96.815002,49.633001 -94.367992,103.041006c4.318001,83.453995 84.983997,95.21199 88.477993,94.080994" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_3" d="m128.832993,124.943001c15,-28.667 44.332993,-22.667 56.5,-6.833s5.416992,46.160995 -9.333008,47.832993" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_4" d="m128.832993,124.943001c-16.344002,-27.921997 5.502991,-50.270004 25.378998,-52.184998c24.462006,-2.356003 43.287003,20.434998 37.658005,32.590996" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_5" d="m128.832993,124.943001c-31.316002,-0.927002 -41.010002,-27.526001 -32.757004,-48.776001c8.924011,-22.973999 42.424011,-24.223999 51.226013,-12.317001" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_6" d="m128.832993,124.943001c-17.967003,26.907005 -49.903,21.476006 -60.315002,4.437004s-4.76799,-45.187004 15.38401,-47.780006" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_7" d="m128.832993,124.943001c13.278,29.504005 -10.265999,53.482002 -30.234001,53.482994c-18.848999,0.001007 -39.349003,-14.233002 -33.086998,-35.313995" class="st0"/>
          <path stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="4" stroke="#ffffff" fill="none" id="svg_8" d="m128.832993,124.943001c32.054001,4.394997 43.132004,34.491997 32.360001,51.305s-39.694,23.860992 -49.487,10.315002" class="st0"/>
        </g>
      </svg>
    </a>
  </div>
    <div class="nav-item active">
      <%= link_to "Home", "#", class: "nav-link", style: "color:white" %>
    </div>
  <% if user_signed_in? %>
    <div class="nav-item">
      <%= link_to "Messages", "#", class: "nav-link", style: "color:white" %>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
</div>
