<h1 style="color:white;margin-top:80px;margin-left:19px;"><%=@member.username%></h1>
<div class="container d-flex flex-column" style="margin-top: 100px">
  <h2 class=my-5 style=color:white>Current rank:</h2>
  <div class=card>
    <div class=box>
      <div class=percent>
        <svg>
          <circle cx=70 cy=70 r=70></circle>
          <circle id=stroke cx=70 cy=70 r=70></circle>
        </svg>
        <div class=number id=inner-text>
          <h2>0<span>%</span></h2>
        </div>
      </div >
      <h2 id=kyu-level class=text></h2>
    </div>
  </div>
</div>
<div id=percentage style=color:transparent><%=@percentage%></div>
<div id=kyu style=color:transparent><%=@kyu%></div>
<div id=color style=color:transparent><%=@color%></div>

<script>

var clicker = document.getElementById("btnx")
var percent = document.getElementById("stroke")
var inner_text = document.getElementById("inner-text")
var progress = document.getElementById("percentage")
var kyu = document.getElementById("kyu")
var kyuLevel = document.getElementById("kyu-level")


var x = (440 - (440 * progress.innerHTML) / 100 );

window.addEventListener("load", changePercentage())

function changePercentage() {
  percent.setAttribute("style", `stroke-dashoffset: ${x};`);
  inner_text.innerHTML = `<h2>${progress.innerHTML}<span>%</span></h2>`
  kyuLevel.innerHTML = kyu.innerHTML
}


</script>
